<h1>Daftar Peserta</h1>
<hr class="margin-top-10">


<div class="row-fluid margin-top-10">
    <div class="k-widget k-grid" id="PesertaGrid">
        <table>
<!-- Shit Header Table -->        
<thead class="k-grid-header" role="rowgroup"><tr role="row"><th class="k-header" data-field="No" data-index="0" data-title="No" scope="col"><span class="k-link">No</span></th><th class="k-header" data-field="UserName" data-index="1" data-title="User name" scope="col"><span class="k-link">User name</span></th><th class="k-header" data-field="nm_pes" data-index="2" data-title="Nama" scope="col"><span class="k-link">Nama</span></th><th class="k-header" data-field="Sesi" data-index="3" data-title="Sesi" scope="col"><span class="k-link">Sesi</span></th><th class="k-header" data-field="kd_nik" data-index="4" data-title="NIK" scope="col"><span class="k-link">Keterangan</span></th></tr><tr class="k-filter-row"><th>&nbsp;</th><th><span data-field="UserName" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-state-default">


<input data-bind="value: value" data-role="autocomplete" data-text-field="UserName" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" style="width: 100%;" id="filteruser">

<span class="k-icon k-loading" style="display:none"></span></span><span title="" class="k-widget k-dropdown k-header k-dropdown-operator" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" style="" aria-activedescendant="c78fcbfc-8b11-423a-b25c-0019bcd0b245"><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-filter">select</span></span></span><input class="k-dropdown-operator" data-bind="value: operator" data-role="dropdownlist" style="display: none;"></span><button type="button" class="k-button k-button-icon" title="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-close"></span></button></span></span></th><th><span data-field="nm_pes" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-state-default">

<input data-bind="value: value" data-role="autocomplete" data-text-field="nm_pes" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" style="width: 100%;" id="filternama">

<span class="k-icon k-loading" style="display:none"></span></span><span title="" class="k-widget k-dropdown k-header k-dropdown-operator" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="e991c8ec-97cc-4744-8f65-c6203445d33a" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-filter">select</span></span></span><input class="k-dropdown-operator" data-bind="value: operator" data-role="dropdownlist" style="display: none;"></span><button type="button" class="k-button k-button-icon" title="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-close"></span></button></span></span></th><th>&nbsp;</th><th><span data-field="kd_nik" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-state-default">

<input data-bind="value: value" data-role="autocomplete" data-text-field="kd_nik" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" style="width: 100%;" id="filternik">
<span class="k-icon k-loading" style="display:none">
	
</span></span><span title="" class="k-widget k-dropdown k-header k-dropdown-operator" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="56f033bf-1d4a-48d5-b105-bd124b7cae64" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-filter">select</span></span></span><input class="k-dropdown-operator" data-bind="value: operator" data-role="dropdownlist" style="display: none;"></span><button type="button" class="k-button k-button-icon" title="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-close"></span></button></span></span></th></tr></thead>
<!-- End of Shit -->        


            <tbody>
            </tbody>

</table>

		<!--  Table Footer -->        
        <div class="k-pager-wrap k-grid-pager"><a class="k-link k-pager-nav k-state-disabled k-pager-first" data-page="1" href="#" title="Go to the first page"><span class="k-icon k-i-seek-w">seek-w</span></a><a class="k-link k-pager-nav k-state-disabled" data-page="0" href="#" title="Go to the previous page"><span class="k-icon k-i-arrow-w">arrow-w</span></a>
            <ul class="k-pager-numbers k-reset">
                <li><span class="k-state-selected" data-page="1">1</span></li>
            </ul><a class="k-link k-pager-nav k-state-disabled" data-page="2" href="#" title="Go to the next page"><span class="k-icon k-i-arrow-e">arrow-e</span></a><a class="k-link k-pager-nav k-state-disabled k-pager-last" data-page="1" href="#" title="Go to the last page"><span class="k-icon k-i-seek-e">seek-e</span></a>
        </div>
		<!--  End Table Footer -->        

    </div>
</div>


<script type="text/javascript">
	function pagination(p){
		$('.k-grid-header').find('input').val('');
		i0 = 25 * (p-1);
		i1 = (25 * p) - 1;
		$('#PesertaGrid table tbody tr').show();
		$('#PesertaGrid table tbody tr:lt('+i0+')').hide();
		$('#PesertaGrid table tbody tr:gt('+i1+')').hide();
	}

	function listsiswa(){
		jQuery.post(url + 'showsiswa.php',{
			server : localStorage.getItem('idserver')
		},function(e){
			jQuery('.k-state-selected').text(1);
			jQuery('#PesertaGrid table tbody').html(csv2tr(e));

			pagination(1);

			jQuery('.k-pager-nav:eq(2)').click(function(event) {
				thispage = jQuery('.k-state-selected').text();
				thispage++;
				count = jQuery('#PesertaGrid table tbody tr').length;
				count = Math.ceil(count/24);
				if (thispage>count) {
					thispage=count;
				}
				pagination(thispage);
				jQuery('.k-state-selected').text(thispage);
				return (false);
			});
			
			jQuery('.k-pager-nav:eq(1)').click(function(event) {
				thispage = jQuery('.k-state-selected').text();
				thispage--;
				if (thispage<1) {
					thispage=1;
				}
				pagination(thispage);
				jQuery('.k-state-selected').text(thispage);
				return (false);
			});
			
			jQuery('.k-pager-nav:eq(0)').click(function(event) {
				thispage = 1;
				pagination(thispage);
				jQuery('.k-state-selected').text(thispage);
				return (false);
			});
			
			jQuery('.k-pager-nav:eq(3)').click(function(event) {
				count = jQuery('#PesertaGrid table tbody tr').length;
				count = Math.ceil(count/24);
				pagination(count);
				jQuery('.k-state-selected').text(count);
				return (false);
			});
			
		})
	}

	jQuery(document).ready(function($) {

		listsiswa();

		$('.k-grid-header input').keyup(function(event) {
			q = $(this).val();
			if (q == '' ){
				thispage = $('.k-state-selected').text();
				pagination (thispage)
			} else {
				$(this).closest('tr').find('input').val('');
				$(this).val(q);
				idx = $(this).closest('th').index();
				$('#PesertaGrid table tbody tr').hide();
				$("#PesertaGrid table tbody tr td:contains('"+q+"')").each(function(){
					if ($(this).index() == idx) {
						$(this).closest('tr').show();
					}
				});
			}
		});
	});

</script>
