<h1>Reset Login Peserta</h1>
<hr class="margin-top-10">

<div class="row-fluid">
    <input type="button" class="btn blue" value="Reset Peserta" id="btnReset">
</div>


<div class="row-fluid margin-top-10" id="PesertaGrid">
    <div class="k-widget k-grid" id="ResetPesertaGrid" data-role="grid"><table role="grid"><colgroup><col style="width:50px"><col><col></colgroup><thead class="k-grid-header" role="rowgroup"><tr role="row"><th class="k-header" data-index="0" scope="col"><input type="checkbox" id="masterCheckBox" onclick=""></th><th class="k-header" data-field="UserName" data-index="1" data-title="Nama User" scope="col"><span class="k-link">Nama User</span></th><th class="k-header" data-field="NamaPeserta" data-index="2" data-title="Nama Peserta" scope="col"><span class="k-link">Nama Peserta</span></th></tr>
    <tr class="k-filter-row"><th>&nbsp;</th><th><span data-field="UserName" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-state-default"><input data-bind="value: value" data-role="autocomplete" data-text-field="UserName" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" style="width: 100%;"><span class="k-icon k-loading" style="display:none"></span></span><span title="" class="k-widget k-dropdown k-header k-dropdown-operator" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="06a6cb5f-1f9f-48a1-ba39-9c28766d31fc" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-filter">select</span></span></span><input class="k-dropdown-operator" data-bind="value: operator" data-role="dropdownlist" style="display: none;"></span><button type="button" class="k-button k-button-icon" title="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-close"></span></button></span></span></th><th><span data-field="NamaPeserta" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-state-default"><input data-bind="value: value" data-role="autocomplete" data-text-field="NamaPeserta" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" style="width: 100%;"><span class="k-icon k-loading" style="display:none"></span></span><span title="" class="k-widget k-dropdown k-header k-dropdown-operator" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="0b236c74-3e85-4dba-8f49-05f9e0cfb9d8" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-filter">select</span></span></span><input class="k-dropdown-operator" data-bind="value: operator" data-role="dropdownlist" style="display: none;"></span><button type="button" class="k-button k-button-icon" title="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-close"></span></button></span></span></th></tr>
    </thead>
    <tbody role="rowgroup" id="tbody">
    	
    </tbody></table>
    </div>

</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		if (aktif) {

		} else {
			alert ('Belum ada mata pelajaran yang aktif');
		}

		$('.k-grid-header input').keyup(function(event) {
			q = $(this).val();
			if (q == '' ){
				thispage = $('.k-state-selected').text();
				pagination (thispage)
			} else {
				$(this).closest('tr').find('input').val('');
				$(this).val(q);
				idx = $(this).closest('th').index();
				$('#PesertaGrid table tbody tr').addClass('hidden');
				$("#PesertaGrid table tbody tr td:contains('"+q+"')").each(function(){
					if ($(this).index() == idx) {
						$(this).closest('tr').removeClass('hidden');
					}
				});
			}
		});

		$.post(url + 'showsiswareset.php', {
			aktif : aktif,
			server: localStorage.getItem('idserver')
		}, function(html){
			$('#tbody').html(csv2tr(html));
		})

		$('#btnReset').click(function(event) {
			var checkedValues = $('input:checkbox:checked').map(function() {
			    return this.value;
			}).get();
			var a = checkedValues;
			max = a.length;
			c = 0;
			a.forEach(function(entry) {
				$.get(url + 'reset.php',{
					user : entry,
					mapel : aktif,
					server: localStorage.getItem('idserver')
				},function(){
					$.get(url + 'showsiswareset.php',{
						server: localStorage.getItem('idserver')
					},function(){
						c++;
					});
				})
			});
			var myVar = setInterval(function(){
				if (c >= max){
					$.post(url + 'showsiswareset.php', {
						aktif : aktif,
						server: localStorage.getItem('idserver')
					}, function(html){
						$('#tbody').html(csv2tr(html));
						$('.k-grid-header input').val('');
						$('#masterCheckBox').prop('checked',false);
					})
					clearInterval(myVar);
				}
			}, 500);
		});

		$('#masterCheckBox').click(function(event) {
			if ($('#masterCheckBox').prop('checked')) {
				$('#PesertaGrid table tbody tr .checkreset').prop('checked',true);
				$('#PesertaGrid table tbody tr.hidden .checkreset').prop('checked',false);
			} else {
				$('.checkreset').prop('checked',false);
			}
		});

	});
</script>