<script src="./core/js/wa.nw.js"></script>
<h1>Whatsapp</h1>
<hr class="margin-top-10">

<h2>Scan QR Code di bawah ini :</h2>
<p>Privacy anda terjamin. Login WA anda tidak di simpan</p>

<div id="whatsappqr">

</div>


<script>

    const waReload = () => {
        $("#whatsappqr").load("http://localhost:8887/qr/", "", function (response, status, request) {
            if (status == "error") {
                var msg = "Sorry but there was an error: ";
                $("#whatsappqr").html(msg + request.status + " " + request.statusText);
                clearInterval(waReload);
            } else {
                $("#whatsappqr").html(response);
                if (response === `<p>Status : Aktif</p>`) {
                    clearInterval(waReload);
                }
            }
        });
    }

    var waInterval;
    $(document).ready(function () {
        waInterval = setInterval(waReload, 2000);
    });
</script>